/*

linear-gradient(90deg, #fd712b 0%, #f21680 100%);

*/

/*------------------------------------------------*/
/*BASIC SETUP*/
/*------------------------------------------------*/


* {
   margin: 0;
}

.wrap {
    max-width: 1140px;
    margin: 0 auto;
}

html,
body {
    font-family: 'Dosis', 'Roboto', 'Arial', sans-serif;
}

/*------------------------------------------------*/
/*REUSABLE COMPONENTS*/
/*------------------------------------------------*/

/*-----HEADINGS-----*/

h1 {
    font-size: 54px;
    line-height: 60px;
    color: #ffffff;
    font-weight: 600;
    font-family: 'Dosis';
}

h3 {
    font-size: 20px;
    line-height: 24px;
    color: #222222;
    font-weight: 600;
    font-family: 'Dosis';
}

h2 {
    font-size: 36px;
    line-height: 30px;
    color: #222222;
    font-weight: 500;
    font-family: 'Dosis';
}

/*-----LINKS-----*/

a {
    text-decoration: none;
    color: #fff;
}

/*-----BUTTONS-----*/

.btn {
    width: 153px;
    height: 35px;
    padding: 10px 30px;
    border-radius: 17px;
    background-color: #ffffff;
    color: #222;
    font-weight: 700;
}

.btn-start {
    box-shadow: 0 0 10px rgba(87, 87, 87, 0.75);
}

/*------------------------------------------------*/
/*HEADER*/
/*------------------------------------------------*/

header {
    background-image: url(../img/phones.png);
    background: linear-gradient(90deg, #fd712b 0%, #f21680 100%);
    margin-bottom: 110px;

    /* background-image: url(../img/bgr.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh; */
}


nav {
    height: 100px;
}

.logo {
    height: 40px;
    width: 135px;
    padding-top: 30px;
    display: inline-block;
}

.logo-img {
    display: inline-block;
    width: 47px;

}

.logo-text {
    display: inline-block;
    width: 75px;
}

.logo p {
    font-size: 36px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 700;
}

.main-nav {
    float: right;
    list-style: none;
    display: inline-block;
    width: 550px;
    padding-top: 40px;
}

.main-nav a {
    font-size: 14px;
    line-height: 24px;
    font-family: 'Roboto';
    font-weight: 400;
}

.main-nav li {
    display: inline-block;
    margin-right: 50px;
}

main {
    height: 550px;

}

.main-text {
    display: left;
    width: 550px;
    display: inline-block;
}

.main-text-box h1 {
    margin-top: 120px;
    width: 495px;
}

.main-text-box p {
    margin-top: 25px;
    width: 495px;
    height: 37px;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 300;
}

.main-text-box ul {
    margin-top: 25px;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 400;
    list-style-position: outside;
    padding-left: 22px;
}

.checkbox li {
    list-style-image: url(../img/checkbox.png);
    padding-left: 20px;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

.main-button {
    margin-top: 50px;
}

.iphones-header {
    float: right;
    width: 550px;
    height: auto;
}

.iphones-header img {
    width: 700px;
    height: auto;
}

/*------------------------------------------------*/
/*section-features*/
/*------------------------------------------------*/

.section-features {
    height: 1175px;
}


.features-line-first {
    margin-bottom: 50px;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.features-container {
    justify-content: center;
    align-items: center;
    display: flex;
}


.features-icon {
    padding-right: 20px;
}

.features-icon i {
    font-size: 24px;
    line-height: 24px;
    color: #f31f79;
    text-align: center;
    border: 1px solid #a2a2a2;
    border-radius: 50%;
    padding: 15px;
}


.features-text p {
    width: 255px;
    height: 35px;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
    font-weight: 300;
    padding-top: 20px;
    font-family: 'Roboto';
}

hr {
    color: #777777;
    height: 1px;
}

.checkbox-2 {
    padding-top: 35px;
}

.checkbox-2 li {
    list-style-image: url(../img/checkbox-2.png);
    padding-left: 20px;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}


.features-box {
    margin-top: 175px;
    width: 515px;
    float: right;
}

.features-box {
    width: 513px;
    height: 37px;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
    font-weight: 300;
}

.features-box ul {
    padding-left: 25px;
}

.first-copy {
    padding-top: 30px;
    padding-bottom: 80px;
}

.features-iphone {
    margin-top: 125px;
    float: left;
}

/*------------------------------------------------*/
/*section-screenshots*/
/*------------------------------------------------*/

.section-screenshots {
    height: 917px;
    background-color: #f7fafc;
    padding-top: 115px;
}

.section-screenshots h2 {
    text-align: center;
    padding-bottom: 30px;

}

.section-screenshots p {
    margin-bottom: 80px;
    text-align: center;
}

.screenshot-carousel {
    text-align: center;
}

.screenshot-carousel img {
    width: 360px;
    height: 495px;
}




/*------------carousel------------

.wraper-slick {
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-slider {
    width: 1140px;
    height: 600px;
}



-------------------------------*/



/*------------------------------------------------*/
/*section-prices*/
/*------------------------------------------------*/

.section-prices {
    background-color: #fff;
    padding-bottom: 115px;
    padding-top: 115px;
}

.price-h {
    text-align: center;
    padding-bottom: 30px;
}

.price-p {
    text-align: center;
    margin-bottom: 80px;
}

.price-box {
    text-align: center;
    background-color: #f7fafc;
    width: 260px;
    height: 480px;
    display: inline-block;
    border: 1px solid #f0f0f0;
    transition: box-shadow 0.3s;
}

.price-box:hover {
     box-shadow: 0 0 10px rgba(177, 177, 177, 0.67);
}


.price-box-features {
    padding: 35px 0;
}

.price-box-features li {
    list-style-type: none;
    font-size: 14px;
    line-height: 30px;
    color: #777777;
    font-family: "Roboto";
    font-weight: 300;
    /*border-bottom: 1px dashed #8e8e8e;*/
}

.price-box-features li:after {
    display: block;
    height: 1px;
    background-color: #8e8e8e;
    content: " ";
    width: 200px;
    margin: 0 auto;
}

.plan-price {
    font-size: 35px;
    line-height: 24px;
    color: #333333;
    font-family: "Dosis";
    font-weight: 600;
    padding: 30px 85px;
    background-color: #fcfcfc;
    text-align: center;

}

.price-name {
    padding: 10px 80px;
}

.price-btn {
    padding: 10px 35px;
    border-radius: 17px;
    border: 1px solid #f0f0f0;
    background-color: #ffffff;
    color: #222;
    font-weight: 700;
    transition: background 0.3s;
}

.price-btn:hover {
    background: linear-gradient(90deg, #fd712b 0%, #f21680 100%);
    color: #fff;
    box-shadow: 0 0 5px rgba(177, 177, 177, 0.57);
    border: none;
}


.btn-box {
    margin-top: 20px;
}

.start-box {
    padding-top: 20px;
    font-size: 14px;
    line-height: 24px;
    color: #aaaaaa;
    font-family: "Roboto";
    font-weight: 300;
    text-align: center;
}

.standart {
    margin: 0 25px;
}


.premium {
    margin-right: 25px;
}


.dollar {
    font-size: 18px;
    vertical-align: super;
}

.month {
    font-size: 18px;
    vertical-align: text-bottom;
}


/*------------------------------------------------*/
/*section-video*/
/*------------------------------------------------*/

.section-video {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../img/background-video.jpg);
    background-position: center;
    background-size: cover;
}

.circle {
    width: 75px;
    height: 75px;
    border-radius: 37px;
    background-image: -webkit-linear-gradient(left, #fd712b 0%, #f21680 100%);
    background-image: -o-linear-gradient(left, #fd712b 0%, #f21680 100%);
    background-image: linear-gradient(to right, #fd712b 0%, #f21680 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.triangle {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 30px solid #fff;
    border-bottom: 15px solid transparent;
    margin-left: 7px;
}

/*------------------------------------------------*/
/*section-testimonials*/
/*------------------------------------------------*/

.section-testimonials {
    text-align: center;
    height: 685px;
    padding-top: 120px;
}

.section-testimonials h2 {
    margin-bottom: 25px;
    font-size: 36px;
    line-height: 30px;
    color: #222222;
    font-weight: 500;
}

.section-testimonials p {
    margin-bottom: 80px;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
    font-family: "Roboto";
    font-weight: 300;
}

.testimonials-box {
    height: 210px;
    width: 300px;
    background-color: #f7fafc;
    float: left;
    padding: 30px;
    transition: box-shadow 0.2s, color 0.2s;
}

.testimonials-box:hover {
    background-color: #fff;
    box-shadow: 0 0 10px #e0e0e0;
}

blockquote {
    text-align: left;
    font-size: 14px;
    line-height: 24px;
    font-family: "Roboto";
    color: #777777;
}

cite {
    height: 80px;
    font-size: 18px;
    line-height: 24px;
    color: #222222;
    font-family: "Dosis";
    font-weight: 500;
    font-style: normal;
}

cite span {
    font-size: 14px;
    line-height: 18px;
    color: #222222;
    font-family: "Dosis";
    font-weight: 300;
    font-style: normal;
}

cite img {
    height: 80px;
    border-radius: 50%;
    vertical-align: middle;
}

.testimonials-box-img {
    float: left;
}

.testimonials-box-text {
    padding-left: 95px;
    padding-top: 15px;
}

.gary-sebastian {
    margin-left:30px;
    margin-right:30px;
}


/*------------------------------------------------*/
/*section-download-app*/
/*------------------------------------------------*/

.section-download-app {
    background: linear-gradient(90deg, #fd712b 0%, #f21680 100%);
    height: 350px;
    padding-top: 120px;
}

.section-download-app h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 90px;
}

.download-box {
    width: 360px;
    height: 115px;
    background-color: #fff;
    float: left;
}

.play-store {
    margin-left: 30px;
    margin-right: 30px;
}

.icon-box {
    height: 115px;
    width: 115px;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.download-text-box {
    float: right;
    padding-right: 55px;
    padding-top: 30px;
}

.download-text-box p {
    padding-top: 15px;
}

.fa-apple {
    font-size: 330%;
    color: #797979;
}

.fa-android {
    font-size: 330%;
    color: #f21680;
}

.fa-windows {
    font-size: 330%;
    color: #797979;
}

.microsoft-store {
    padding-right: 25px
}

/*------------------------------------------------*/
/*footer*/
/*------------------------------------------------*/

footer {
    height: 180px;
    background-color: #222222;
}

.social-links {
    padding-top: 55px;
    text-align: center;
}

.social-links li {
    display: inline-block;
    margin-left: 12.25px;
    margin-right: 12.25px;
    font-size: 120%;
    list-style: none;
}

.copyright {
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 300;
    text-align: center;
    padding-top: 25px;
}

.fa-dribbble {
    color: #f31f79;
}
